<form class="form" action="/todo/{{id}}?_method=PUT" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input value="{{title}}" type="text" class="form-control" id="title" placeholder="Enter a todo" name="title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea value="{{description}}" type="text" class="form-control" id="description" placeholder="Enter a description" name="description" rows="3" cols="80"></textarea>
  </div>
  <div class="form-group">
    <label for="priority">Priority</label>
    <select class="form-control" id="priority" name="priority">
      {{#select priority}}
      <option value="1">Priority 1</option>
      <option value="2">Priority 2</option>
      <option value="3">Priority 3</option>
      <option value="4">Priority 4</option>
      <option value="5">Priority 5</option>
      {{/select}}
    </select>
  </div>
  <button type="submit" class="btn btn-info">Update</button>
</form>
